<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:align="center">
    <div>
        <table>
            <thead>
            <h1>category saving</h1>
            <tr>
               <th>id</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category : ${categoryData}">
                <td><strong th:text="${category.id}"></strong></td>
                <td><strong th:text="${category.name}"></strong></td>
            </tr>
            </tbody>
        </table>
        <a th:href="@{/api/create-category}">create-category</a>
    </div>
</div>
</body>
</html>